<a href="https://colab.research.google.com/github/cristobalperezp/Marketing_2/blob/main/Class_10_Counting_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#librerías para trabajo con dataframes:
import pandas as pd
import numpy as np
#librerías para graficar:
import seaborn as sns
import matplotlib.pyplot as plt
#optimizador:
from scipy.optimize import minimize
#librerías de distribuciones:
import scipy.stats as stats
import scipy.special as special
import math

In [ ]:
mydata = pd.read_excel('/content/drive/MyDrive/Universidad/9° Semestre/Marketing II/Códigos clases/Class_10_Counting_Models/Class 09 - Counting Models.xlsx')
mydata

       x   N_x
0    0.0  48.0
1    1.0  37.0
2    2.0  30.0
3    3.0  24.0
4    4.0  20.0
5    5.0  16.0
6    6.0  13.0
7    7.0  11.0
8    8.0   9.0
9    9.0   7.0
10  10.0   6.0
11  11.0   5.0
12  12.0   5.0
13  13.0   3.0
14  14.0   3.0
15  15.0   2.0
16  16.0   2.0
17  17.0   2.0
18  18.0   1.0
19  19.0   1.0
20  20.0   2.0
21  21.0   1.0
22  22.0   1.0
23  23.0   1.0

In [ ]:
#loglikelihod for poisson model --------------------------------
n = 250
def logl(theta):
  poisson = np.zeros(len(mydata))
  for i in range(len(mydata)):
    poisson[i] = (theta**mydata['x'][i])*np.exp(-theta)/math.factorial(mydata['x'][i])
  prob = mydata['N_x']*np.log(poisson)
  return -np.sum(prob)

In [ ]:
theta_start = 0.01

# Run the minimizer
results = minimize(logl, theta_start, method='nelder-mead', options={'xatol': 1e-8, 'disp': True})

# Print the results. They should be really close to your actual values
results.x[0]

Optimization terminated successfully.
         Current function value: 929.043883
         Iterations: 41
         Function evaluations: 84

4.456000007629401

In [ ]:
#loglikelihood for gamma exponential model --------------------
def logl(theta):
  myr = np.exp(theta[0])
  myalpha =np.exp(theta[1])
  pr = np.zeros(len(mydata))
  pr[0] = (myalpha/(myalpha +1))**myr
  for i in range(1,len(mydata)):
    pr[i] = ((myr+mydata['x'][i]-1)/(mydata['x'][i]*(myalpha+1)))*(pr[i-1])
    ll = mydata['N_x']*np.log(pr)
  return -np.sum(ll)

In [ ]:
theta_start = [0.01,0.01]

# Run the minimizer
results = minimize(logl, theta_start, method='nelder-mead', options={'xatol': 1e-8, 'disp': True})

# Print the results. They should be really close to your actual values
np.exp(results.x[0]),np.exp(results.x[1])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in log
  if __name__ == '__main__':

Optimization terminated successfully.
         Current function value: 649.688827
         Iterations: 97
         Function evaluations: 191

(0.9692594517711726, 0.21751783499763921)